ul {
  list-style-type: none;
}

.hero {
  background: url("../image/front.svg") no-repeat center center/cover,
    url("../image/back.svg") no-repeat center center/cover;
  width: 100%;
  color: #ffffff;
  height: 700px;
}
